<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>PaymentPage</title>
    <link media="all" type="text/css" rel="stylesheet" th:href="@{/public/css/payment_page.css}"/>
    <link media="all" type="text/css" rel="stylesheet" th:href="@{/public/css/mainHeaderFooter.css}"/>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
          rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="paymentPageMainDiv">
    <div class="paymentField">
        <form class="paymentFieldInnerDiv" th:action="@{/card/addCard}" method="post" th:object="${card}" >
            <p class="paymentP1">Добавить способ оплаты</p>
            <p class="paymentP2">Кредитная или дебетовая карта</p>
            <input class="nameSurnameCard" type="text" value="" placeholder="Имя и фамилия на карте" th:field="*{owner}">
            <br>
            <input class="cardNumber" type="text" placeholder="Номер карты" th:field="*{number}">
            <input class="monthCard" type="text" placeholder="ММ" th:field="*{month}">
            <input class="yearCard" type="text" placeholder="ГГ" th:field="*{year}">
            <br>
            <input class="CVC" type="text" placeholder="CVC код" th:field="*{cvv}">
            <span class="cardDateSpan">срок действия карты</span>
            <br>
            <p class="errorP">*Введены неверные данные</p>
            <input class="continueButton" type="submit" value="Продолжить">
        </form>
    </div>
    <p><span class="plus"></span><span class="text">Добавить другой способ оплаты</span></span></p>
</div>

<div th:replace="fragments/header :: footer"></div>

<script>
    addEventListener('load', function () {
        addEventListener('scroll', function () {
            document.querySelector('header').style.backgroundColor = document.documentElement.scrollTop > 55 ?
                'rgb(0,0,0,0.7)' :
                '#404040';
        });
    });
</script>
</body>
</html>