<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>My products</title>
    <link  media="all" rel="stylesheet" th:href="@{/public/css/user_products_style.css}">
    <link media="all" type="text/css" rel="stylesheet" th:href="@{/public/css/mainHeaderFooter.css}"/>

    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
          rel="stylesheet">
</head>
<body>
<section class="mainSection">
    <div th:replace="fragments/header :: header"></div>

    <div class="categories">
        <div class="productAndFilter">
            <!--<div class="product">
                <div class="productElement" style="display: flex; flex-direction: row; align-items: center; justify-content: center; background-color: #3d3d3d; color: white">
                <div class="arrowLike">Добавить<span class="productArrow"></span><span class="productLike"></span>
                </div>
                </div>
            </div>-->


            <div class="product" >

                <a th:href="@{/product/addProduct}" class="productElement" style="display: flex; flex-direction: row; align-items: center; justify-content: center; background-color: #3d3d3d; color: white">
                    <div class="arrowLike">Добавить<span class="productArrow"></span><span class="productLike"></span>
                    </div>
                </a>

                <a th:each="product, iter : ${products}" th:href="@{/user/showProduct/{id}(id = ${product.getId()})}" class="productElement">
                    <div class="imgDiv"><img th:src="${product.getPath()}"></div>
                    <div class="arrowLike" th:text="${product.getName()}"><span class="productArrow"></span><span class="productLike"></span></div>
                    <div><span class="madeBy" th:text="${product.getUser().getUsername()}"></span></div>
                </a>
            </div>

        </div>
    </div>
</section>


<div th:replace="fragments/header :: footer"></div>

<script>
    addEventListener('load', function () {
        addEventListener('scroll', function () {
            document.querySelector('header').style.backgroundColor = document.documentElement.scrollTop > 55 ?
                'rgb(0,0,0,0.7)' :
                '#404040';
        });
    });
    let productsLength = document.querySelector(".product").children.length;
    document.querySelector(".categories").style.height = 320 + Math.ceil(productsLength/3)*260 + 'px';
</script>
</body>
</html>