<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Categories</title>
    <link  media="all" rel="stylesheet" th:href="@{/public/css/show_products.css}">
    <link media="all" type="text/css" rel="stylesheet" th:href="@{/public/css/mainHeaderFooter.css}"/>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
          rel="stylesheet">
</head>
<body>
<section class="mainSection">
    <div th:replace="fragments/header :: header"></div>

    <div class="topnav">
        <a href="#">Арты</a>
        <a href="#">3d-модели</a>
        <a href="#">GameDev</a>
        <a href="#">Темы</a>
        <a href="#">Презентации</a>
        <a href="#">Сайты</a>
        <a href="#">Шаблоны</a>
        <a href="#">Wordpress</a>
        <a href="#">Скрипты</a>
    </div>
    <div class="categories">
        <div class="productAndFilter">
            <div class="sideFilter">
                <button class="filterButton"><span class="filterIcon"></span>фильтр<span
                        class="filterVectorIcon"></span>
                </button>
                <div class="filterSort">
                    <form method="post" th:action="@{/admin/products}">
                        <p>Сортировать по:</p>
                        <select name="status" id="status">
                            <option th:each="status : ${T(com.digitail.model.Status).values()}"
                                    th:value="${status}" th:text="${status.getCommand()}" th:selected="${flag.equals(status.name())}"></option>
                        </select>
                        <button type="submit">Поиск</button>
                    </form>
                    <!--<div>
                        <p>Автор:</p>
                        <button>все</button>
                    </div>
                    <div>
                        <p>Тема:</p>
                        <button>все</button>
                    </div>-->
                    <!--
                    <div>
                        <p>Размер:</p>
                        <button>любой</button>
                    </div>-->
                </div>
            </div>
            <div class="product">
                <a th:each="product, iter : ${products} " th:href="@{/admin/products/{id}(id = ${product.getId()})}" class="productElement">
                    <div class="imgDiv"><img th:src="${product.getPath()}"></div>
                    <div class="arrowLike" th:text="${product.getName()}"><span class="productArrow"></span><span class="productLike"></span></div>
                    <div><span class="madeBy" th:text="${product.getUser().getUsername()}"></span></div>
                </a>
            </div>
        </div>
    </div>
</section>

<div th:replace="fragments/header :: footer"></div>

<script>
    addEventListener('load', function () {
        addEventListener('scroll', function () {
            document.querySelector('header').style.backgroundColor = document.documentElement.scrollTop > 55 ?
                'rgb(0,0,0,0.7)' :
                '#404040';
        });
    });
    let productsLength = document.querySelector(".product").children.length;
    document.querySelector(".categories").style.height = 320 + Math.ceil(productsLength/3)*260 + 'px';
</script>
</body>
</html>