body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #C9C9C9;
    letter-spacing: 0.3em;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/*Container*/

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.container__foot {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.container__about {
    width: 100%;
    max-width: 1300px;
    height: 1000px;
    margin: 0 auto;
    background: #fff;
    background-color: #E8E8E8;
}

/*intro*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.intro__inner {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    
    text-align: center;
    background: black;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.letter {
    color: #039400;
}


.intro__suptitle {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 400;
    
    color: #fff;
    text-align: center;
 
}

.intro__suptitle:after {
    content: "";
    display: block;
    width: 300px;
    height: 1px;
    margin: 40px auto;
    
    background-color: #fff;
    
    
}

/*Content*/

.section__about {
    padding: 10px 0;
    background: #F4F4F4;
    padding-top: 100px;
    padding-bottom: 50px;
}

.section__header {
    display: inline-block;
    vertical-align: top;
    
    width: 13%;
    margin-top: 10px;
    padding-left: 40px;
    padding-right: 20px;
    
    font-weight: 200;
    color: #fff;
    text-align: left;
    background: black;
    background: rgba(0, 0, 0, 0.7); 
    font-size: 14px;
}

.about {
    display: flex;
    width: 100%;
    max-width: 1200px;
    max-height: 300px;
    margin-left: 50px;
    margin: 40px;
    background-color: #DEDEDE;
}

.section__header2 {
    display: inline-block;
    vertical-align: top;
    

    margin-top: 25px;
    margin-left: 50px;
    margin-bottom: 10px;
    color: #333334;
    text-align: center;
    font-size: 45px;
    font-weight: 100;
}

.about__block {
    position: relative;
    justify-content: center;
    width: 100%;
    height: 70vh;
}

.img__info {
    display: inline-flex;
    position: relative;
    margin-left: 600px;
}

.shop__img2 {
    display: inline-block;
    margin: auto;
    max-width: 320px;
    max-height: 180px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(20%) translateX(-50%);
    left: 50%;
    z-index: 0;
}

/*Button*/
.button {

    padding: 15px 30px;
    background-color: #485E46;
    margin-bottom: 25px;
    
    font-size: 20px;
    font-weight: 200;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
    
    transition: background 0.1s linear, color 0.1s linear;
}

.button:hover {
    background-color: #fff;
    color: #485E46;
}

.button__set {
    margin-left: 430px;
    margin-top: 100px;
}

.buttons {
    display: table-column;
    margin-left: 100px;
}

.button2 {

    padding: 5px 10px;
    background-color: #CCCCCC;
    margin-bottom: 25px;
    
    font-size: 10px;
    font-weight: 200;
    color: #737373;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
    
    transition: background 0.1s linear, color 0.1s linear;
}

.button2:hover {
    background-color: #737373;
    color: #CCCCCC;
}

.button__set2 {
    margin-left: 470px;
    margin-top: 80px;
}

.button3 {

    padding: 5px 170px;
    background-color: #CCCCCC;
    margin-bottom: 25px;
    
    font-size: 70px;
    font-weight: 200;
    color: #737373;
    text-transform: uppercase;
    text-decoration: none;
    
    transition: background 0.1s linear, color 0.1s linear;
}

.button3:hover {
    background-color: #737373;
    color: #CCCCCC;
}

.button__set3 {
    margin-left: 100px;
    padding-bottom: 40px;
}

.button4 {

    padding: 15px 30px;
    background-color: #485E46;
    margin-bottom: 25px;

    font-size: 20px;
    font-weight: 200;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
    
    transition: background 0.1s linear, color 0.1s linear;
}

.button4:hover {
    background-color: #fff;
    color: #485E46;
}

.button__set4 {
    margin-left: 400px;
    margin-top: 40px;
    padding-bottom: 40px;
}

.button5 {

    padding: 15px 30px;
    background-color: #CCCCCC;
    margin-bottom: 25px;
    
    font-size: 15px;
    font-weight: 200;
    color: #3E3E3E;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
    
    transition: background 0.1s linear, color 0.1s linear;
}

.button5:hover {
    background-color: #3E3E3E;
    color: #CCCCCC;
}

.button__set5 {
    margin-left: 400px;
    padding-bottom: 40px;
}


.clos__but {
    display: inline-flex;
    margin-top: 60px;
}

.total {
    display: table-column;
}



/*About*/

.about__header {
    display: inline-flex;
}

.about__infosub {
    padding-top: 60px;
    color: #5C5C5C;
}

.about__info {
    margin-top: 20px;
    margin-left: 40px;
    text-align: left;
    
    color: #333334;
    font-size: 35px;
}

.about__info2 {
    margin-top: 20px;
    margin-left: 40px;
    text-align: left;
    
    color: #333334;
    font-size: 25px;
}

.about__descript {
    display: table-column;
    padding-top: 30px;
}

.about__descript2 {
    display: table-column;
    padding-top: 30px;
    margin-left: 50px;
}

.descript__info {
    margin: 20px;
    font-size: 15px;
    color: #6D6D6D;
}

.inline__header {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.coloumn {
    display: table-column;
}

#zatemnenie {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
#okno {
    width: 900px;
    height: 420px;
    text-align: left;
    padding: 15px;
    color: #333334;
    font-size: 30px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #F4F4F4;
}
#zatemnenie:target {display: block;}
.close {
    display: inline-block;
    color: #fff;
    padding: 8px;
    margin: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-decoration: none;
    background: #CE2E2E;
    font-size: 20px;
    cursor:pointer;
}
.close:hover {background: #e6e6ff;}

.acc_discript {
    background: #DEDEDE;
    margin-top: 10px;
}

.acc__info {
    font-size: 25px;
    padding-left: 10px;
}

.acc__info2 {
    font-size: 25px;
    padding-left: 15px;
    padding-top: 10px;
    font-weight: 500;
}

.acc__disinfo2 {
    font-size: 15px;
    font-weight: 300;
}

.pay__info {
    margin-left: 570px;
    font-size: 15px;
    font-weight: 300;
}

.buttonpay {

    padding: 15px 30px;
    background-color: #485E46;
    margin-bottom: 25px;

    font-size: 15px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;

    transition: background 0.1s linear, color 0.1s linear;
}

.buttonpay:hover {
    background-color: #fff;
    color: #485E46;
}

.button__setpay {
    margin-left: 580px;
    padding-bottom: 20px;
}

.buttonpay2 {

    padding: 15px 30px;
    background-color: #485E46;
    margin-bottom: 25px;

    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;

    transition: background 0.1s linear, color 0.1s linear;
}

.buttonpay2:hover {
    background-color: #fff;
    color: #485E46;
}

.button__setpay2 {
    margin-left: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.not__pay {
    color: #BA1818;
    font-size: 10px;
    font-weight: 300;
    padding-top: 9px;
    padding-left: 5px;
}

.payment {
    display: inline-flex;
}

.visatext {
    font-weight: 800;
    color: darkblue;
}

.data {
    font-size: 15px;
    padding-left: 10px;
}

.change {
    font-size: 13px;
    padding-left: 10px;
    color: #B0B0B0;
}

.visa__info {
    font-size: 15px;
    padding-left: 10px;
    padding-top: 15px;
}

.close {
    margin-left: 80px;
}