<!DOCTYPE HTML>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/public/css/basket_style/basket.css}">
        <link media="all" type="text/css" rel="stylesheet" th:href="@{/public/css/mainHeaderFooter.css}"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
              rel="stylesheet">

        <title>Basket</title>
    </head>
    <body>

    <div th:replace="fragments/header :: header"></div>

    <section class="section__about">
        <div class="container__about">
            <div class="section__header2">
                <div class="section_title">Ваша корзина</div>
            </div>

            <div class="about" th:each="product, iter : ${products} ">
                <div class="about__block">
                    <div class="img__info">
                        <img class="shop__img2" th:src="${product.getPath()}"  alt="Картинка">
                    </div>

                    <div class="about__text">
                        <div class="inline__header">
                            <div class="coloumn">
                                <div class="about__header">
                                    <div class="about__info" th:text="${product.getName()}">"Morning"</div>
                                    <div class="about__infosub">by rooves</div>
                                </div>

                                <div class="about__info2">Описание:</div>
                            </div>



                            <div class="buttons">
                                <div class="button__set">
                                    <a class="button" href="#" th:text="${product.getPrice()}">1,99$</a>
                                </div>

                                <div class="button__set2">
                                    <a class="button2" href="#">удалить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="about">
                <div class="about__block">
                    <div class="clos__but">
                        <div class="button__set3">
                            <a class="button3" href="#">+</a>
                        </div>

                        <div class="total">
                            <div class="button__set4">
                                <a class="button4" href="#" th:text="${user.getBasketCosts()}">2,98$</a>
                            </div>
                            <div class="button__set5">
                                <a class="button5" href="#zatemnenie">Оплатить</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div id="zatemnenie">
                <div id="okno">
                    Подтверждение покупки<br>

                    <div class="acc_discript">
                        <div class="acc__info">Список товаров:</div>
                        <div class="acc__info2">"Morning" <span class="acc__disinfo2">by rooves</span></div>
                        <div class="acc__info2">“Foggy” <span class="acc__disinfo2">от Abram</span></div>

                        <div class="pay__info">Общая сумма</div>

                        <div class="button__setpay">
                            <a class="buttonpay" href="#">2,98$</a>
                        </div>
                    </div>

                    <div class="payment">
                        <div class="button__setpay2">
                            <a class="buttonpay2" href="#">Оформить покупку</a>
                            <div class="not__pay">*недостаточно средст для оплаты</div>
                        </div>

                        <div class="visa">
                            <div class="visa__info"><span class="visatext">Visa</span> **** 9090</div>
                            <div class="data">02/22</div>
                            <div class="change">изменить способ оплаты</div>
                        </div>

                        <a href="#" class="close">Отмена</a>

                    </div>

                </div>
            </div>

        </div>
    </section>

    <div th:replace="fragments/header :: footer"></div>

    <script>
        addEventListener('load', function () {
            addEventListener('scroll', function () {
                document.querySelector('header').style.backgroundColor = document.documentElement.scrollTop > 55 ?
                    'rgb(0,0,0,0.7)' :
                    '#404040';
            });
        });
        let productsLength = document.querySelector(".container__about").children.length - 2;
        document.querySelector(".container__about").style.height = 72 + productsLength*380 + 'px';
        document.querySelector(".section__about").style.height = 100 + document.querySelector(".container__about").style.height + 'px';
    </script>
    </body>
</html> 