<!DOCTYPE HTML>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
    <meta charset="UTF-8">

      <link media="all" rel="stylesheet" th:href="@{/css/style.css}"/>
      <link media="screen" type="text/css" rel="stylesheet" th:href="@{/css/login_registry.css}"/>

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

      <title>DigiTail</title>
  </head>
  <body>

      <header class="header">
          <div class="container">
              <div class="header__inner">
                  <div class="header__logo">DigiTail </div>

                  <nav class="nav">
                      <a class="nav__link" href="#">главная</a>
                      <a class="nav__link" th:href="@{/product/addProduct}">Добавить продукт</a>
                      <a class="nav__link" th:href="@{/product/showProducts}">Категории</a>

                      <span class="regLogButtons">
                          <button th:unless="${flag}" id="login" class="loginButton leftButton" role="button"><span class="text">Login</span></button>
                          <button th:unless="${flag}" id="register" class="loginButton rightButton" role="button"><span class="text">Register</span></button>
                      </span>

                      <a href="" th:if="${flag}">[[${#httpServletRequest.remoteUser}]]</a>

                      <form style="display: inline-block" th:action="@{/logout}" method="post" th:if="${flag}">
                          <input type="submit" value="Sign Out" class="loginButton logOutButton" />
                      </form>

                  </nav>
              </div>
          </div>
      </header>

      <div class="login-box">
          <a class="close" id="closeForm"></a>
          <div class="row">
              <img th:src="@{/img/login_registry/avatar.png}"/>
          </div>
          <h2>Войти</h2>
          <form th:action="@{/login}" method="post">
              <div class="user-box">
                  <input type="text" name="username" required=""/>
                  <label>
                      <i class="fa fa-user" aria-hidden="true"></i>
                      Логин
                  </label>
              </div>
              <div class="user-box">
                  <input type="password" name="password" required=""/>
                  <label>
                      <i class="fa fa-unlock" aria-hidden="true"></i>
                      Пароль
                  </label>
              </div>
              <span class="myClass"><button type="submit" class="formButton">ВОЙТИ</button></span>
          </form>
      </div>

      <div class="reg-box">
          <a  class="close" id="closeRegForm"></a>
          <div class="row">
              <img th:src="@{/img/login_registry/welcome.png}"/>
          </div>
          <h2>Зарегестрироваться</h2>
          <form method="post" th:action="@{/registration}">
              <div class="user-box">
                  <input type="text" name="username" required=""/>
                  <label>
                      <i class="fa fa-user" aria-hidden="true"></i>
                      Имя
                  </label>
              </div>

              <div class="user-box">
                  <input type="text" name="" required=""/>
                  <label>
                      <i class="fa fa-user" aria-hidden="true"></i>
                      Фамилия
                  </label>
              </div>

              <div class="user-box">
                  <input type="text" name="" required=""/>
                  <label>
                      <i class="fa fa-user" aria-hidden="true"></i>
                      Email
                  </label>
              </div>

              <div class="user-box">
                  <input type="password" name="password" required=""/>
                  <label>
                      <i class="fa fa-unlock" aria-hidden="true"></i>
                      Пароль
                  </label>
              </div>

              <span class="myClass">
                  <button type="submit" class="formButton">BUTTON</button>
              </span>
          </form>
      </div>


      <div class="intro">
          <div class="container">
              <div class="intro__inner">
                <h1 class="intro__title">Все, что нужно для  цифрового гения !</h1>
                <h2 class="intro__suptitle">Воплощай свои идеи или создавай новые с помощью торговой площадки </h2>
                <a class="button" href="#">Хочу!</a>
              </div>
          </div>
      </div>

  </body>

  <script>
      document.querySelector("#login").onclick = () => {
          document.querySelector(".login-box").style.display = "block";
          document.querySelector(".reg-box").style.display = "none";
      }
      document.querySelector("#closeForm").onclick = () => {
          document.querySelector(".login-box").style.display = "none";
      };
      document.querySelector("#register").onclick = () => {
          document.querySelector(".reg-box").style.display = "block";
          document.querySelector(".login-box").style.display = "none";
      }
      document.querySelector("#closeRegForm").onclick = () => {
          document.querySelector(".reg-box").style.display = "none";
      };
  </script>
</html> 