<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <link  media="all" rel="stylesheet" th:href="@{/public/css/productPage.css}">
</head>
<body>
<div class="categories">
    <div class="topnav">
        <a href="#">Арты</a>
        <a href="#">3d-модели</a>
        <a href="#">GameDev</a>
        <a href="#">Темы</a>
        <a href="#">Презентации</a>
        <a href="#">Сайты</a>
        <a href="#">Шаблоны</a>
        <a href="#">Wordpress</a>
        <a href="#">Скрипты</a>
    </div>
    <div class="productAndFilter">
        <div class="sideFilter">
            <button class="filterButton"><span class="filterIcon"></span>фильтр<span class="filterVectorIcon"></span></button>
            <div class="filterSort">
                <div>
                    <p>Сортировать по:</p>
                    <button>популярности</button>
                </div>
                <div>
                    <p>Автор:</p>
                    <button>все</button>
                </div>
                <div>
                    <p>Тема:</p>
                    <button>все</button>
                </div>
                <div>
                    <p>Размер:</p>
                    <button>любой</button>
                </div>
            </div>
        </div>
        <div class="product">
            <div th:each="product, iter : ${products} ">
                <div class="productElement">
                    <div><img th:src="${product.getFileName()}"></div>
                    <div class="arrowLike" th:text="${product.getName()}"><span class="productArrow"></span><span class="productLike"></span></div>
                    <div><span class="madeBy" th:text="${product.getUser().getUsername()}"></span></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>